html {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    background-color: #EED7FB;
}
.title {
    font-size: 40px;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #250935;
    border-radius: 10px;
}
.subtitle {
    font-size: 24px;
}
#subtitle {
    width: 400px;
    margin-left: calc(50% - 200px);
    border: 1px solid #EED7FB;
    border-radius: 3px;
}
#home-container {
    height: 1000%;
}
#chatbox-container {
    display: inline-block;
}
div.chatbox {
border:2px solid #000000;
height: 396px;
width:262px;
overflow:scroll;
margin-left: 50px;
margin-bottom: 5px;
}
#chat-inputs {
    margin-left: 50px;
}
input.nam {
width:60px;
}
input.mess {
width:190px;
}
#quote-container {
    position: fixed;
    top: 210px;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin-left: calc(50% - 200px);
    background-color: #250935;
}
.blackination {
}
#quote {
    color: white;
    text-align: center;
    padding: 20px;
    width: 300px;
    padding-top: 50px;
    padding-left: 50px;
}
#level {
    margin-left: 50px;
    width: 80px;
}
.pages{
    text-align: center;
    margin-top: 20px;
}
.pages a {
    padding: 50px;
    padding-bottom: 0px;
    font-weight: 400;
    color: black;
}
@media (min-width: 1170px) {
    .pages div {
        width: 375px;
        display: inline-block;
        color: black;
    }
}
@media (max-width: 1169px) {
    .pages div {
        display: inline-block;
        width: 275;
    }
    .pages a {
        padding: 0px;
        color: white;
    }
    #quote-container {
        border: 2px solid white;
    }
    .title {
        border: 2px solid white;
    }
    html {
        background-color: black;
    }
}
canvas#board {
    margin-left: 50px;
    margin-right: 50px;
}
#snake-container {
    margin-top: 20px;
    margin-left: calc(50% - 400px);
}
#scoreboard {
    margin-left: calc(50% - 400px);
}
div#dvd-container {
    width: 800px;
    display: inline-block;
    margin-top: 20px;
}
#modal-container {
    width: 100%;
    height: calc(100% + 150px);
    z-index: 100;
    position: fixed;
    display: none;
    top: -150px;
}
#modal-overlay {
    width: 100%;
    height: 100%;
}
#modal-box-wrapper {
    left: calc(50% - 250px);
    position: absolute;
    top: calc(50% - 130px);
}
#modal-box {
    width: 500px;
    background-color: #250935;
    height: 260px;
    z-index: 101;
}
#modal-header {
    font-size: 24px;
    color: white;
    padding: 20px;
    padding-bottom: 10px;
}
#modal-content {
    padding: 10px;
    margin-left: 10px;
}
#modal-footer {
    padding: 10px;
    padding-top: 0px;
    margin-top: -10px;
    text-align: right;
    margin-right: 10px;
}
input#suggestions {
    border: 5px solid white;
    padding: 10px;
    background: transparent;
    margin: 0px;
    margin-bottom: 20px;
    width: 460px;
    height: 100px;
    font-size: 18px;
    color: white;
}
input#suggestions::-webkit-input-placeholder {
    background: transparent;
    margin: 0px;
    width: 460px;
    font-size: 18px;
    color: white;
    opacity: .8;
}
.button {
    display: inline-block;
    cursor: pointer;
    color: #250935;
    background-color: white;
    font-weight: 700;
    font-size: 12px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}